#top-movers ul{
  
}
.movers-up{
  color: green;
}

.movers-down{
  color:red;
}

.mover{
  width:20%;
  position:relative;

  float:left;
}

.mover-index{
  width:25px;
  text-align: center;

  float:left;
}

.mover-image{
  margin-left:5px;
  background-color: blue;
  color: white;
  text-align:center;
  font-weight: bold;

  width: 20px;
  height: 20px;
  border: 1px solid black;

  float:left;
}

.mover-name{
  margin-left:5px;
  float:left;
}

.mover-buy{
  position: absolute;
  right:10px;
}